
.absolute{
  position: absolute;
}
.text-light{
  font-weight: 300;
}
.text-uppercase{
  text-transform: uppercase;
  letter-spacing: .2em !important;
}
a{
  color: #7cabda;
}

.application {
  font-family: 'HKGrotesk', sans-serif
}
.application h2 {
  font-weight: 400;
}

.theme--light .table tfoot tr{
  border-top: 0;
}

table thead tr{
  border-bottom: 0 !important;
}

table tfoot .datatable__actions{
  justify-content: flex-start;
}

.btn:not(.btn--depressed){
  box-shadow: none;
}
img{
  transition: opacity .2s;
}
img[lazy=loading] {
  opacity: 0;
}
img[lazy=loaded] {
  opacity: 1;
}
.no-outline{
  outline: 0;
}
.bold{
  font-weight: bold;
}
.dialog{
  border-radius: 10px;
  align-self: baseline;
  max-height: 400px;
}
.theme--dark.v-toolbar{
  background-color: #191918 !important;
}
.v-btn i {
  font-size: 1.2em !important;
}
.v-menu__content, .context-menu,
.v-autocomplete__content.v-menu__content, .v-autocomplete__content.v-menu__content .v-card {
  backdrop-filter: blur(30px);
  background: rgba(20,20,20,.6) !important;
  border: 1px solid #616161;
  border-radius: 4px;
  box-shadow: 0 5px 30px rgba(0,0,0,.2);
}
.v-menu__content .avatar i.v-icon,
.context-menu .avatar i.v-icon{
  font-size: 1.1em;
}
.v-tabs__item i.v-icon{
  font-size: 1.2em;
}

.v-menu__content .v-list__tile__avatar,
.context-menu .v-list__tile__avatar{
  min-width: 40px;
  margin-left: -10px;
}
.v-navigation-drawer{
  background: rgba(20,20,20,.6) !important;
  backdrop-filter: blur(20px);
  border-left: 1px solid rgba(255,255,255,.075);
}
.v-navigation-drawer__border{
  display: none;
}
.v-navigation-drawer .v-tabs__bar.theme--dark{
  background-color: transparent
}
.v-menu__content .v-list--dense:not(.list--two-line) a,
.context-menu .v-list--dense:not(.v-list--two-line) a,
.v-menu__content .v-list--dense .v-list__tile:not(.v-list__tile--avatar),
.context-menu .v-list--dense .v-list__tile:not(.v-list__tile--avatar){
  height: 33px !important;
}
.v-tabs__item{
  background: rgba(0,0,0,.4);
  border-right: 1px solid #181818;
}
.v-select--chips.keyboard-chips .v-chip--small{
  border-radius: 3px
} 
.no-flex-direction{
  flex-direction: unset;
}
.v-tabs__item--active {
  background: transparent
}
.theme--dark.application {
  background: #191919 !important;
}
.divide-after:after {
  content: " ";
  display: block;
  border-top: 1px solid rgba(255,255,255,.15);
  width: calc(100% - 20px);
  position: absolute;
  left: 10px;
}
.divide-before:before{
  content: " ";
  display: block;
  border-top: 1px solid rgba(255,255,255,.15);
  width: calc(100% - 20px);
  position: absolute;
  left: 10px;
  margin-top: -10px
}
.application.theme--dark .text--disabled,
.theme--dark.v-list .v-list--disabled {
  color: hsla(0,0%,100%,.3)!important;
}
.v-overlay{
  transition: none !important;
}
.v-dialog{
  transition: none;
}
.v-dialog > .v-card.theme--dark {
  background-color: rgb(40,40,40) !important;
}
.v-dialog .v-tabs__bar.theme--dark{
  background: transparent !important;
}
.v-list{
  background: transparent !important;
}
.application.theme--dark .text--disabled
.theme--dark.v-icon,
.theme--dark.v-list .v-list--disabled
.theme--dark.v-icon {
  color: #666
}

.explainer{
  text-align: center;
  padding: 48px;
}

.explainer h1{
  font-weight: 300;
  font-size: 3em;
}

.explainer p{
  font-size: 1.3em;
  max-width: 34em;
  margin: .7em auto;
  opacity: .7;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-pointer-events{
  pointer-events: none;
}
.cursor-pointer{
  cursor: pointer;
}

.max-width {
  max-width: 100%
}
