
.absolute{
  position: absolute;
}
.text-light{
  font-weight: 300;
}
.text-uppercase{
  text-transform: uppercase;
  letter-spacing: .2em !important;
}
a{
  color: #7cabda;
}

.application {
  font-family: 'HKGrotesk', sans-serif
}
.application h2 {
  font-weight: 400;
}

.theme--light .table tfoot tr{
  border-top: 0;
}

table thead tr{
  border-bottom: 0 !important;
}

table tfoot .datatable__actions{
  justify-content: flex-start;
}

.btn:not(.btn--depressed){
  box-shadow: none;
}
img{
  transition: opacity .2s;
}
img[lazy=loading] {
  opacity: 0;
}
img[lazy=loaded] {
  opacity: 1;
}
.no-outline{
  outline: 0;
}
.bold{
  font-weight: bold;
}
.dialog{
  border-radius: 10px;
  align-self: baseline;
  max-height: 400px;
}
.btn i {
  font-size: 1.4em !important;
}
.menu__content {
  border-radius: 4px;
  box-shadow: 0 5px 30px rgba(0,0,0,.2);
}
.menu__content .avatar i.icon {
  font-size: 1.1em;
}
.menu__content .list__tile__avatar {
  min-width: 40px;
  margin-left: -10px;
}
.menu__content .list--dense:not(.list--two-line) .list__tile:not(.list__tile--avatar){
  height: 33px;
}
.tabs__item{
  background: rgba(0,0,0,.2);
}
.tabs__item--active{
  background: transparent
}
